body {
  background-image: linear-gradient(to right, #3d2777, #09090a);
  font-family: "system-ui";
}

h1 {
  padding: 15px;
  color: #e6e6e7;
}
h2 {
  border-bottom: 2px solid #2596ea;
  padding: 4px;
}
h2:first-child {
  margin-bottom: 27px;
}

.principal {
  background-color: #dbdbdb;
  margin-top: 20px;
  padding: 30px;
}

.card {
  margin-top: 20px;
  height: 670px;
  padding: 15px;
}
.boton {
  display: flex;
  margin-top: 10px;
  width: 170px;
  justify-content: center;
  align-items: center;
}

.error {
  padding: 3px;
  margin: 8px;
}
.pres {
  border: solid 2px #cafcb9;
  padding: 3px;
  color: green;
}
.rest {
  border: solid 2px #b9ddfc;
  padding: 3px;
  color: rgb(52, 149, 214);
  display: none;
}

span {
  margin-left: 5px;
}

.gastos {
  background-color: #dbdbdb;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.gasto-span {
  font-size: 18px;
}
.fa-times-circle {
  color: red;
  cursor: pointer;
  padding-left: 20px;
  font-size: 24px;
}
